body{
    font-family: Arial,sans-serif;
    font-size: 20px;
}
.cache {
    display: none;
}
.blur {
  filter: blur(5px);
}
.text-green, .text-red{
    font-weight: bold;
}
.text-green {
    color:#63a563;
}
.text-red {
    color:red;
}
.center{
  text-align: center;
}
#divVideo {
    text-align:center;
    display:block;
    position :absolute;
    top:42px;
    right:5px;
    overflow: hidden;
    z-index: 0;
}
#cameras-list {
    margin-top:5px;
    width:280px;
    padding: 5px;
    text-align: left;
    font-size: 12px;
}
#cameras-list.yellow {
    color: #443E04;
    background: yellow;
}
#cameras-list.gris {
    background-color: #ccc;
}
#contenerApp {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:90%;
    padding:0px 30px;
}
#messageacceuil.flex {
    display: flex;
    font-size: 16px;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}
#messageacceuil p{
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
  background-color: #eee;
  border:1px solid grey;
  padding:10px;
  line-height: 1.5em;
  text-align:center;
  width:94%;
  border-radius: 5px 5px 10px 10px;
}
.c20{
  position:relative;
  text-align: center;
  text-shadow: 1px 1px grey;
  font-size: 1.2em;
  margin:10px;
  margin-top:2em;
  width: 25%;
  height: 80px;
  background: #FBF8EF;
  padding-top:1em;
  cursor:pointer;
  border:2px solid #FFBF00;
  border-radius: 5px 5px 10px 10px;
}
@media screen and (max-width:1240px){
    .c20{
        font-size: 1em;
    }
}
.c20:hover{
  background: #F5DA81;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
.c20 a{
  color:black;
  text-decoration: none;
}
.c20 img{
  position: absolute;
  top:-16px;
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
}
#importliste {
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
}
#pasteUrl, #setterFullHD {
    font-size:0.7em;
    position: absolute;
    margin-left:10px;
    margin-top: 5px;
    z-index: 15;
}
#setterFullHD {
  cursor: pointer;
}
/* Espace d'affichage du numero et du nom de l'élève
*/
div.eleve, div.eleveevident{
    height: 24px;
    display: inline-block;
    text-align: left;
    font-size: 0.8em;
    padding:9px 2px;
    vertical-align: top;
}
div.eleveevident{
    background-color: yellow;
}

div.eleveevident > span:last-child {
    font-weight: bolder;
}
/* Nom du participant
*/
.participant {
    vertical-align: middle;
    display:inline-block;
    width: 112px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
span.numero, span.numerovert, span.numerorouge, span.numerobleu{
    display: inline-block;
    padding:2px;
    margin-right:5px;
    width:20px;
    text-align:center;
    transform: rotate(6deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:2px solid black;
}
span.numero{
    background-color: white;
}
span.numerovert{
    background-color: #66ff33;
}
span.numerorouge{
    background-color: #ff9999;
}
span.numerobleu{
    background-color: #50D4FD;
}
span.orange{
  color:#FF7214;
}
span.QCMCam{
  font-weight: bold;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.1em;
}
span.supprButton, span.addrep, span.supprrep {
  font-weight: bolder;
  border-radius: 0.6em;
  width:1.2em;
  position:absolute;
  text-align: center;
  margin-left: -2.8em;
}
span.supprButton, span.addrep{
    margin-top: -0.5em;
}
span.supprrep {
    margin-top: 0.8em;
    color:#E6E6E6;
    background-color: cornflowerblue;
}
span.addrep{
    color: #F5DA81;
    background-color: #FF7214;
}
span.supprButton{
    color: white;
    background-color:red;
    cursor: pointer;
}

#zonesAffichage:before,#zonesAffichage:after{
    content:"";
    display:table;
    clear:both;
}
#questions {
    float:left;
    margin-right:15px;
    overflow: auto;
    resize: both;
    height:600px;
    width: 50%;
    vertical-align: top;
    margin-top:15px;
    background-color: rgba(255,255,255,0.75);
}
#cacheQuestions.montre {
    position:absolute;
    background: lightgrey;
    width:inherit;
    height: inherit;
    opacity: .98;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    z-index: 50;
}
#animate{
    height:calc(100% - 2px);
}
.question{
    box-sizing: border-box;
    width:100%;
    height:100%;
    float: left;
    border: 1px solid #CCC;
}
.question.multiple::before {
  content: url(./img/multicheck.png);
  float: right;
}
#questionsContener{
    overflow: hidden;
    width: 100%;
    height: calc(100% - 64px);
    margin-top:calc(32px - 1.12em);
}
#sablier {
    position: relative;
    display: block;
    width:90%;
    left:5%;
    height:1.4em;
    line-height: 1.4em;
    background-color:rgb(202, 202, 248);
    font-size:0.8em;
    border: 1px solid #1c3999;
}
#chronorect{
    display: block;
    position: absolute;
    height: inherit;
    width:100%;
    background-color:rgb(47, 142, 173);
    border-right:1px solid rgb(41, 62, 121);
}
#decompte{
    position: absolute;;
    right:0.2em;
}
#sablier.cache {
    visibility: hidden;
}
#conteneureleves {
    padding-top:16px;
    margin-top:30px;
    text-align:left;
    overflow: hidden;
    background-color: rgba(255,255,255,0.65);
}
.western{
    line-height:150%;
}
.recadrage {
    outline: 1px solid transparent;
    margin-left: 10%;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
#menuhaut{
    display: block;
    position: relative;
    height: 52px;
}
#commandesPrincipalesUsers::after {
    content: '';
    border-color: rgb(172, 172, 172);
    border-style:solid;
    border-width: 0 0.1em 0 0;
    height:1em;
    margin:0 0.3em;
    display: inline-block;
    vertical-align: middle;
}
#commandes img, #conteneureleves img, #menuhaut img, #cameras-list img{
    vertical-align: middle;
    cursor: pointer;
}
#cameras-list img{
    width:24px;
    height: 24px;
}
#commandesPrincipalesUsers, #commandesCamera{
    display: inline-block;
}
#logo, #panneauHautDroite, #commandesQuestions{
    position: absolute;
    display: block;
    background: rgb(255, 255, 255);
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-radius: 0 0 6px 6px;
}
#logo{
    padding:0 4px 2px;
}
#panneauHautDroite, #commandesQuestions{
    padding: 4px 6px 3px 6px;
}
#commandesQuestions{
    right:calc(50% + 100px);
}
#panneauHautDroite{
    left:calc(50% + 100px);
}
#logo {
    left:50%;
    transform: translate(-50%);
}
#commandes{
    display: block;
    position: relative;
    height: 1px;
    margin-bottom: 57px;
}
#navigation, #editionQuestions, #editionParticipants{
    position: absolute;
    z-index : 2;
    display:block;
    border-radius: 5px 10px;
    padding:5px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
#navigation{
    top:15px;
    left:50%;
    transform: translate(-50%);
    background: #eeeeee;
}
#navigation.cache, #editionParticipants.cache, #editionQuestions.cache{
  display:none;
}
#editionQuestions {
    font-size:0.8em;
    background: rgb(224, 224, 224);
    left:5px;
}
#editionParticipants{
    background: #E0E0E0;
    left:calc(50% + 80px);
    top:15px;
}
#messageedition {
    font-style: italic;
    background: #ffa;
    border: 1px solid green;
    font-size: 0.8em;
    padding:6px;
}

#infos, #resultats{
    box-sizing: border-box;
    position:absolute;
    top:0;left:0;right:0;
    padding:50px;
    z-index: 100;
    background: #eeeeee;
}
#infos img{
    float:left;
    margin-right: 10px;
}
#infos p{
    margin:30px 0;
}
#lastcontents{
  z-index: 100;
  display:block;
  font-size:0.8em;
  position:absolute;
  top:50px;
  left:200px;
  width:400px;
  background-color: white;
  border-radius: 5px 10px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
#lastcontents span, #lastcontents div.right, #lastcontents input{
  cursor: pointer;
}
#lastcontents span:hover{
  background-color: #F5DA81;
}
#lastcontents div.right{
  float:right;
  color:white;
  background-color: grey;
  border-radius: 10px;
  width:20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  margin:5px;
}
#lastcontents.cache{
  display:none;
}
#footersmartphone {
  padding: 5px;
  position:absolute;
  bottom:0;
  right:160px;
  display:block;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  font-size: 0.7em;
}
#footersmartphone img{
  float: left;
}
#espacelangue{
  padding:3px;
  position:absolute;
  bottom:0;
  right:0;
  display:block;
}
.inactiv {
    opacity: 0.4;
}
.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    display: inline-block;
    vertical-align: middle;
}
.inputfile:focus + label,
.inputfile + label:hover {
    cursor: pointer;
}
.responsive{
    /*display:block;*/
    overflow-x:auto;
    overflow-y: auto;
}
.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-table-all tr{border-bottom:1px solid #ddd}
.w3-table-all tr:nth-child(odd){background-color:#fff}
.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover{background-color:#ccc}
.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}

#tableau th {
    cursor: pointer;
}
/* hors tableau */
.question > ol {
    counter-reset: li;
}
.question > ol > li {
    list-style-type: none;
    margin-bottom: 16px;
}
.question > ol > li::before {
    display: inline-block;
    counter-increment: li;
    content: counter(li, upper-alpha) ". ";
    padding: 4px;
    margin-right: 3px;
    cursor: pointer;
    font-weight: bold;
}
/* dans tableau */
table {
  counter-reset: li;
}
table ol {
  padding:20px;
}
table li {
  list-style-type: none;
  margin-bottom: 16px;
}
table li::before {
  display: inline-block;
  counter-increment: li;
  content: counter(li, upper-alpha) ". ";
  padding: 4px;
  margin-right: 3px;
  cursor: pointer;
  font-weight: bold;
}
.cke_editable .rondvert::before, .corrige .rondvert::before{
  border-radius:20px 20px 20px 20px;
  border:3px solid green;
}
#progressdiv {
  position:absolute;
  top:35%;
  left:calc(50% - 100px);
  z-index: 50;
  width:200px;
  height:30px;
  background:rgba(255,255,255,50);
}
/* Animations */
@-webkit-keyframes slideOutUp {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  @keyframes slideOutUp {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
  }
  @-webkit-keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  
  @keyframes slideOutDown {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  .slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
  }
  @-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }
  @-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  #shadowRoot {
    width:100%;
    text-align:center;
  }
  @media screen and (max-width:1024px){
    #boutonsuserslive{
        max-width: 144px;
        margin-top: -16px;
    }
    #divVideo {
      top:38px;
  }
  body {
    font-size: 16px;
  }
  #commandes img, #commandesQuestions img, #panneauHautDroite img, #cameras-list img, #boutonsuserslive img{
    height: 24px;
  }
  #logo img {
    width: 87px;
    height: 36px;
  }
  #cameras-list img{
      width:18px;
      height: 18px;
  }
  .c20 {
    height: 68px;
  }
  .c20 img {
    height: 36px;
    width: 36px;
    left: calc(50% - 18px);
  }
  #navigation {
    top: 0;
  }
  #questions {
    height: 500px;
    margin-top:8px;
  }
  #messageacceuil.flex {
    font-size: 13px;
  }
  #messageacceuil.flex p img {
    width: 48px;
    height: 48px;
  }
}

#group-manager {
  position: absolute;
  z-index: 50;
  background-color: #ccc;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}
#group-manager header{
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
#group-manager nav {
  background-color: lemonchiffon;
  padding: 0.5rem;
}
#initial-group > div, #isolated-users > div {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
#initial-group, #isolated-users{
  font-size: 0.9rem;
}
#resulted-groups fieldset > div {
  margin:5px;
}
#resulted-groups .bleu, #resulted-groups .violet, #resulted-groups .orange, #resulted-groups .rouge, #resulted-groups .azur, #resulted-groups .vert {
  margin-left:5px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 1em;
  width: 1em;
  height:1em;
  line-height: 1em;
  font-size: 1em;
  padding: 2px;
  position: relative;
  top: -4px;
  text-align: center;
  font-weight: bold;
}
#repartir {
  color: green;
}
#ignorer {
  color: red;
}
#nb-groups, #nb-per-group {
  font-size: 1em;
}
#group-manager fieldset {
  border: 2px solid grey;
  border-radius: 0.3em;
  background-color: white;
  display: inline-block;
  box-shadow: 4px 4px 6px #AAA;
  padding: 0.5rem;
  line-height: 1.2rem;
  margin-bottom: 10px;
  vertical-align: top;
}
#group-manager fieldset legend {
  display: block;
  font-weight: 700;
  width:initial;
  background-color: white;
}
#group-manager button {
  font-size: 1em;
}
.bleu {
  color:blue;
}
.violet{
  color:purple;
}
.orange{
  color:orange;
}
.rouge{
  color:red;
}
.azur{
  color:#007FFF;
}
.vert{
  color:green;
}
@media print {
  .noprint {
      display:none;
  }
  #group-manager {
    background: white;
  }
  #group-manager > fieldset {
    display: none;
  }
}