.vscode

css/img/multicheck.png
css/img/qcmcam2/add-contact.svg
css/img/qcmcam2/add-file.svg
css/img/qcmcam2/arrow-end-left.svg
css/img/qcmcam2/arrow-end-right.svg
css/img/qcmcam2/block-user.svg
css/img/qcmcam2/book-research.svg
css/img/qcmcam2/change-exchange.svg
css/img/qcmcam2/checkbox.svg
css/img/qcmcam2/column-chart.svg
css/img/qcmcam2/delete-file.svg
css/img/qcmcam2/edit-file.svg
css/img/qcmcam2/expand-all.svg
css/img/qcmcam2/eye-blind.svg
css/img/qcmcam2/file-download.svg
css/img/qcmcam2/file-line.svg
css/img/qcmcam2/full-screen-arrow.svg
css/img/qcmcam2/hand-holding-mobile-phone.svg
css/img/qcmcam2/inspection.svg
css/img/qcmcam2/line-angle-left.svg
css/img/qcmcam2/line-angle-right.svg
css/img/qcmcam2/new-product.svg
css/img/qcmcam2/next-arrow.svg
css/img/qcmcam2/no-cell-phone.svg
css/img/qcmcam2/notebook-pen.svg
css/img/qcmcam2/personal-details.svg
css/img/qcmcam2/personal-information.svg
css/img/qcmcam2/previous-arrow.svg
css/img/qcmcam2/reload.svg
css/img/qcmcam2/sand-clock-half-line.svg
css/img/qcmcam2/scan.svg
css/img/qcmcam2/upload-file.svg
css/img/qcmcam2/webcam.svg
css/img/qcmcam2/writer-blogger-author-female.svg
css/img/qcmcam2/wrong-files.svg
